<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/zui.min.css">
    <link rel="stylesheet" href="/static/css/zui.datagrid.min.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/zui.min.js"></script>
    <script src="/static/js/zui.datagrid.min.js"></script>


    <link rel="stylesheet" href="/static/css/FrameSkeleton.css">
    <link rel="stylesheet" href="/static/css/FrameSkeletonHeader.css">
    <link rel="stylesheet" href="/static/css/FrameSkeletonLeft.css">
    <link rel="stylesheet" href="/static/css/FrameSkeletonBody.css">
    <link rel="stylesheet" href="/static/css/FrameSkeletonFooter.css">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/ListMenu.css">
    <link rel="shortcut icon" href="/static/images/胡.png" type="image/x-icon"/>
</head>
<body>
<div id="app">
    <frames-keleton >
        <template #left>
            <frame-skeleton-left></frame-skeleton-left>
        </template>

        <template #header>
            <!--    插槽的内容放这里 -->
            <frame-skeleton-header></frame-skeleton-header>
        </template>

        <template #body>
            <!-- 插槽的内容放这里 -->
            <frame-skeleton-body></frame-skeleton-body>
        </template>

        <template #footer>
            <!--  插槽的内容放这里 -->
            <frames-keleton-footer></frames-keleton-footer>
        </template>
    </frames-keleton>
</div>

<!-- vue 内的所有变量都要小写,否则就会无效-->
<script type="module" >
    import { createApp} from '/static/js/vue.esm-browser.js'
    import store from '/static/store/index.js'
    import router from '/static/routes/index.js'
    import FrameSkeleton from '/static/frame/FrameSkeleton.js'
    import FrameSkeletonHeader from '/static/frame/FrameSkeletonHeader.js'
    import FrameSkeletonLeft from '/static/frame/FrameSkeletonLeft.js'
    import FrameSkeletonBody from '/static/frame/FrameSkeletonBody.js'
    import FrameSkeletonFooter from '/static/frame/FrameSkeletonFooter.js'

    const App = {
        data() {
            return {
                message: "Hello, world!",
            };
        },
        //注册的名称必须全部小写,如果是多个单词,使用连字符-分隔
        //否则组件无法注册
        components: {
            "frames-keleton": FrameSkeleton,
            "frame-skeleton-header": FrameSkeletonHeader,
            "frame-skeleton-left": FrameSkeletonLeft,
            "frame-skeleton-body": FrameSkeletonBody,
            "frames-keleton-footer": FrameSkeletonFooter,
        },
        mounted: function () {

        },
        methods: {

        },

    };

    const app = createApp(App);
    app.use(store)
    app.use(router)
    app.mount("#app");



</script>
</body>
</html>